/* Font Faces */
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

/* Base Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 40px;
}

h1, h2 {
    color: #333;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Branding Section Styles */
#branding-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.branding {
    font-size: 11px;
    font-weight: 400;
}
