<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        {{ content }}
    </main>
    
    <div id="credit-container">
        <p class="credit">Environmental assessment by <a href="https://github.com/RCornidez/Google-Hackathon-2024">Trees Bees & Seas</a></p>
        <p class="credit">Powered by <a href="https://gemini.google.com/">Google Gemini</a></p>
    </div>
</body>
</html>
